<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>04860a64b85b7438bf91</string>
	<key>clientSecret</key>
	<string>13342aaf3eb01b5498fc16b1bad90e1ab0e64a28</string>
	<key>redirect_url</key>
	<string>challenge://app/callback</string>
</dict>
</plist>
